menu "Management Configuration"
    config MANAGEMENT_WIFI_SSID
        string "WiFi SSID"
        default "MonadCountManagement"

    config MANAGEMENT_WIFI_USERNAME
        string "WiFi Username"
        default "arthut.dent@example.sk"

    config MANAGEMENT_WIFI_PASSWORD
        string "WiFi Password"
        default "DontPanic!42"

    config MANAGEMENT_SERVER_URL
        string "Server URL"
        default "http://monad.vogsphere.sk"

    config MANAGEMENT_SERVER_BASIC_AUTH
        string "HTTP Basic Auth (base64 encoded)"
        default "amR1YmVjOkRvbnRQYW5pYyE0Mg=="

   config MANAGEMENT_REBOOT_INTERVAL
        int "Reboot interval (min)"
        default 60
endmenu